* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Nunito Sans;
}

body {
    display: flex;
    height: 100vh;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.top {
    font-size: 2em;
    margin-bottom: 80px;
}

.up {
    color: white;
}

.down {
    color: #FBCEB1;
}

.input {
    min-width: 100%;
    width: 40px;
    height: 50px;
    border-radius: 3px;
    border: none;
    padding-left: 40px;
    font-size: 1em;
}

.button .btn {
    margin-top: 20px;
    font-size: 1.4em;
    padding: 10px;
    color: white;
    background-color: #7aa052;
    border: none;
    margin-left: 10px;
}